@import 'src/common/colors';

.root {
  max-width: 140px;
  margin: -14px 0 4px;
  display: flex;
  padding: 0;
}

.address {
  background-color: $color-white;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.editButton {
  height: 26px;
  min-height: 26px;
}
