@import 'src/common/colors.scss';

.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  background: rgba($color-white, 0.9);
}

.container {
  padding: 12px;
}
