@import 'src/common/colors.scss';

.root {
  width: 100%;
  padding: 12px 0 16px;

  background-color: $color-primary;
  color: $color-white;
}

.title {
  font-size: 36/16 * 100%;
  font-weight: bold;
  text-align: center;
}
